.company-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
    &__tabs-button-container {
      margin-bottom: 20px;
      background-color: rgba(240, 240, 240, 255);
      width: 100%;
      display: flex;
      flex-direction: row;
  
      &__tabs-button,
      &__button {
        margin: 5px;
        background-color: rgba(240, 240, 240, 255);
        color: black;
        border: 1px solid rgba(225, 225, 225, 255);
      }
    }
  
    &__section {
      margin: 5px;
      margin-bottom: 15px;
    }
  
    &__label {
      color: black;
      width: 200px;
      display: inline-block;
      white-space: nowrap;
    }
  
    &__input {
      background-color: whitesmoke;
      height: 30px;
      width: 300px;
      margin: 2px;
      color: black;
      padding: 5px;
    }
  
    .input-number::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    #phone2,
    #identificacionNumber {
      max-width: 50px !important;
    }
  
    &__options-container {
      position: absolute;
      bottom: 0px;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      background-color: whitesmoke;
      border: 3px solid whitesmoke;
      width: 95%;
  
      &__option {
        margin: 15px;
        background-color: rgba(225, 225, 225, 255);
        border: 1px solid rgba(225, 225, 225, 255);
        color: black;
      }
    }
  
    &__table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
      & thead tr {
        background-color: #add8e6;
        color: #ffffff;
        text-align: left;
      }
  
      & td {
        padding: 12px 15px;
        text-align: left;
      }
  
      & tbody tr {
        border-bottom: 1px solid #dddddd;
      }
  
      & tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }
  
      & tbody tr:last-of-type {
        border-bottom: 2px solid #add8e6;
      }
    }
  
    &__other-addresses-form {
      width: 100%;
      height: 100%;
    }
  
    &__addresses-options {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  
    &__agent-form {
      margin: 15px;
      margin-left: 30px;
    }
  
    .startup-wizard-form__text-area {
      width: 50%;
      height: 150px;
    }

    form{
        margin: 5%;
        width: 50%;
        margin-top: 3%;
    }

    .form-input{
      width: 60%;
      background: whitesmoke;
      color: black;
      height: 35px;
    }

    .form-label{
      width: 40%;
    }

    .form-textarea{
      width: 60%;
      background: whitesmoke;
      color: black;
    }

    .form-checkbox{
      height: 15px;
    }
  }

  #charges, #commodities {
    width: 90%;
  }