.creation {
    &-container {
        padding: 2rem;
        margin-block: 2rem;
        border-radius: 8px;
        background-color: #f7f7f7;
    }

    &-label {
        display: block !important;
        position: relative !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

#employeeId {
    margin-bottom: 1rem !important;
}