/* ModalForms.scss */

.modal-form {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  
    &.is-open {
      display: flex;
      padding: 0 0 0 5%;
    }
  }
  
  .modal__container {
    position: static;
    background-color: white;
    // min-width: 800px;
    // max-width: 1080px;
    // min-height: 600px;
    // max-height: 1080px;
    // height: 600px;
    height: 90vh;
    width: 70%;
    overflow-y: auto;
    padding: 1rem;
    overflow-x: hidden;
    color: black;
  }
  
  .modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: whitesmoke;
    border: 3px solid whitesmoke;
    color: black;
  }
  