.company-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-form__tabs-button-container{
  margin-bottom: 20px;
  background-color: rgba(240,240,240,255);
  width: 100%;
}

.company-form__tabs-button, .company-form__button{
  margin: 5px;
  background-color: rgba(240,240,240,255);
  color: black;
  border: 1px solid rgba(225,225,225,255);
}

.company-form__section{
  margin: 5px;
  margin-bottom: 15px;
}

.company-form__label{
  color: black;
  width: 200px;
  display: inline-block;
  white-space: nowrap;
}

.company-form__input{
  background-color: whitesmoke;
  height: 30px;
  width: 300px;
  margin: 2px;
  color: black;
  padding: 5px;
}

.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#phone2, #identificacionNumber{
  max-width: 50px !important;
}

.company-form__options-container{
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: whitesmoke;
  border: 3px solid whitesmoke;
  width: 95%;
}

.company-form__option{
  margin: 5px;
  background-color: rgba(225,225,225,255);
  border: 1px solid rgba(225,225,225,255);
  color: black;
}

.hidden{
  display: none;
}

.company-form__table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.company-form__table thead tr {
  background-color: #ADD8E6;
  color: #ffffff;
  text-align: left;
}

.company-form__table td {
  padding: 12px 15px;
  text-align: left;
}

.company-form__table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.company-form__table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.company-form__table tbody tr:last-of-type {
  border-bottom: 2px solid #ADD8E6;
}

.company-form__other-addresses-form{
  width: 100%;
  height: 100%;
}

.company-form__addresses-options{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.company-form__agent-form{
  margin: 15px;
  margin-left: 30px;
}