.navbar__layout {
  background-color: var(--secondary-color);
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 3rem 0 0;
}

.profile__card {
margin: 0 2.5rem;
width: 25rem;
height: inherit;
display: grid;
grid-template-columns: 70% 30%;
align-items: center;
justify-content: space-evenly;
border-radius: 1.2rem;
box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

.profile__username {
color: var(--primary-color);
padding: 2rem;
border-right: 1px solid white;
border-radius: 3rem;
}

.profile__icon {
font-size: 4rem;
color: var(--primary-color);
}

.logo{
  position: absolute;
<<<<<<< HEAD
  width: 3%;
  min-width: 5rem;
  padding: 0px;
  margin: 0 2% -1rem 2%;
=======
  width: 13%;
  min-width: 3rem;
  padding: 0px;
  margin: 0 0% 1vh 0.8vh;
>>>>>>> 3147938c8a3fabf5126d767603215224eb49c915
}
// ---------------------------------------------------------------------
.nav{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: initial;
    width: 100%;
    color: red;
}

<<<<<<< HEAD
// .nav-tabs {
//   --bs-nav-tabs-border-width: var(--bs-border-width);
//   --bs-nav-tabs-border-color: #0dc8f7;
//   /* --bs-nav-tabs-border-radius: var(--bs-border-radius); */
//   --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) #ecf0f1;
//   --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
//   --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
//   --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
//   border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
// }

// .nav-tabs .nav-link.active{
//   color: var(--bs-nav-tabs-link-active-color); 
//     background-color: #1a1313;
//     border-color: var(--bs-nav-tabs-link-active-border-color);
// }

=======
>>>>>>> 3147938c8a3fabf5126d767603215224eb49c915
