.container-box.event-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  .box__event--form {
    width: 100%;

    &>.income-charge-form {
      width: 100% !important;

      &>div {
        display: flex;
        flex-direction: row !important;
        gap: 10px;

        & .form-row:nth-child(3) {
          display: block !important;
        }
      }
    }
  }
}

.repacking-container {
  overflow-y: auto;
  width: 90vw;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  // padding: 15px;
  // margin: 15px;
  border-radius: 5px;
}

.main-commodity {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  border: 2px solid #ddd;
  padding: 10px;
  font-size: 15px;

  // margin-bottom: 15px;
  // border-radius: 5px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.item-description {
  font-weight: bold;
  margin: 5px 0;
}

.item-info {
  margin: 5px 0;
  // font-weight: bold;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-wrapper {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.image-wrapper img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.image-wrapper img:hover {
  cursor: pointer;
}

.image-wrapper span {
  display: block;
  text-align: center;
  margin-top: 5px;
}


.attachment-container {
  display: flex;
  flex-wrap: wrap;
}

.attachment-wrapper {
  position: relative; 
  margin-right: 10px;
  margin-left: 2px;
  margin-bottom: 5px;
}

.attachment-wrapper img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.attachment-wrapper img:hover {
  cursor: pointer;
}

.attachment-wrapper span {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.delete-button-container {
  position: relative;  
  top: 5px;
}

.custom-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.delete-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: rgb(15, 15, 15);
  border-radius: 50%;
  color: white;
  font-size: 16px;
}

.delete-icon span {
  display: inline-block;
  transform: rotate(90deg);
  line-height: 24px;
}
