.imput-select{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.alin{
    display: flex;
    &__width{
        width: 100%;
        display: flex;
        margin: 0 0 3rem 0;
    }
}

.linea {
    border-top: 1px solid #00000042;
    height: 2px;
    width: 80%;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 0;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3)
}

