.imput-select{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.alin{
    display: flex;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    width: 60%;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
}

