@import "@fortawesome/fontawesome-free/css/all.css";

#root {
  width: 100%;
  height: 100vh;
}

.content-page {
  background-color: #d9d9d9;
  width: 100vw;
  height: calc(100% - 60px);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6%;
  padding-left: 270px;
}

.title {
  margin: 20px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100%;
  }
  
  .back-button {
    height: 80px;
    background: #153a61;
    border: none;
    color: white;
    border-radius: 50%;
    width: 80px;
    margin-right: 20px;
  }
  
  .title-container {
    flex: 1; /* Take remaining space */
    text-align: center;
    
    border-radius: 20px;
    border: 1px solid #fff;
    background: #153a61;
    color: white;
  }

.button-container {
  margin: 10px;
  background: white;
  padding: 15px;
  border-radius: 20px;
  align-items: center;
  width: 100%;
  height: 80px;
  justify-content: space-between;
}

.menu-icon {
  background: none;
  border: none;
  color: #153a61;
  margin-left: 10px;
}

.generic-button {
  background: none;
  border: none;
}

.export-dropdown {
  select,
  label {
    height: 40px;
    font-size: 14px;
  }

  margin: 15px;
  display: flex;
  align-items: center;
  margin-left: 25px;
  border: 1px solid #153a61;
  border-radius: 10px;
  height: 60px;
  padding: 10px;
  select {
    margin-left: 10px;
  }
}

.search-input {
  height: 40px;
  width: 100%;
  font-size: 14px;
}

.generic-table {
  width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;
}

.action-buttons {
  display: flex;
}

.table {
  * {
    font-size: 13px;
    white-space: nowrap;
  }
  th {
    padding: 10px;
  }
}

.alert-notification{
  position: absolute;
  top: 5%;
}

.file-input-container {

  display: inline-block;
  width: 40px;

}

.hidden-input {
  display: none;
}

.file-input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
}

.file-input-icon:hover {
  background-color: #d0d0d0;
}

.charge-buttons{
  margin: 10px;
}